<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/head.html :: head"/>

<body>

<nav th:replace="fragments/head.html :: navbar"/>

<div class="container">
    <div class="row py-2">
        <div class="col-12">
            <form th:action="@{/item/update}" th:method="post" th:object="${item}">
                <input type="hidden" th:field="*{id}" id="id" name="id">

                <div class="form-group">
                    <label>Name</label>
                    <input type="text" th:field="*{name}" class="form-control" id="name" name="name" placeholder="Enter item name">
                    <p class="text-danger" th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></p>
                </div>

                <div class="form-group">
                    <label>Price</label>
                    <input type="number" th:field="*{price}" class="form-control" id="price" name="price" placeholder="Enter item price">
                </div>

                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
        </div>
    </div>
</div>

<th:block th:replace="fragments/footer.html :: scripts"/>

</body>