<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/head.html :: head"/>

<body>

<nav th:replace="fragments/head.html :: navbar"/>

<div class="container">
    <div class="row py-2">
        <div class="col-12">
            <a class="btn btn-primary" th:href="@{/item/new}">Добавить</a>
        </div>

        <div class="col-12 mt-3">
            <form class="form-inline" th:method="get">

                <div class="form-group mb-2 mr-2">
                    <label for="nameFilter" class="sr-only">Item Name filter</label>
                    <input type="text" class="form-control" id="nameFilter" th:value="${param.nameFilter}"
                           name="nameFilter" placeholder="Name filter">
                </div>

                <div class="form-group mb-2 mr-2">
                    <label for="priceMinFilter" class="sr-only">Age min</label>
                    <input type="number" class="form-control" id="priceMinFilter" th:value="${param.priceMinFilter}"
                           name="priceMinFilter" placeholder="Price min filter">
                </div>

                <div class="form-group mb-2 mr-2">
                    <label for="priceMaxFilter" class="sr-only">Age max</label>
                    <input type="number" class="form-control" id="priceMaxFilter" th:value="${param.priceMaxFilter}"
                           name="priceMaxFilter" placeholder="Price max filter">
                </div>

                <button type="submit" class="btn btn-primary mb-2">Apply</button>
            </form>
        </div>

        <div class="col-12">
            <table class="table table-bordered my-2">
                <thead>
                <tr>
                    <th scope="col" th:replace="fragments/sort_header :: sort_header ('Id', 'id')"/>
                    <th scope="col" th:replace="fragments/sort_header :: sort_header ('Name', 'name')"/>
                    <th scope="col" th:replace="fragments/sort_header :: sort_header ('Price', 'price')"/>
                    <th scope="col">Actions</th>
                </tr>
                </thead>
                <tbody>
                <tr th:if="${items.hasContent()}" th:each="item : ${items.content}">
                    <th th:text="${item.id}" scope="row">1</th>
                    <td th:text="${item.name}">Alex</td>
                    <td th:text="${item.price}">21</td>
                    <td>
                        <a class="btn btn-success" th:href="@{/item/{id}(id = ${item.id})}"><i class="fas fa-edit"></i></a>
                        <form class="d-inline" th:method="delete" th:action="@{/item/{id}(id = ${item.id})}">
                            <button type="submit" class="btn btn-danger"><i class="far fa-trash-alt"></i></button>
                        </form>
                    </td>
                </tr>

                <tr th:unless="${items.hasContent()}">
                    <td colspan="4">No data</td>
                </tr>

                </tbody>
            </table>
        </div>

        <div class="col-12">
            <nav aria-label="...">
                <ul class="pagination">
<!--                    <li  th:if="${param.page == 1}" class="page-item disabled">-->
                    <li class="page-item"
                        th:classappend="${#strings.equals(param.page, '1')} ? 'disabled'">
                        <a class="page-link"
                           th:href="@{/item(page=${#numbers.formatInteger(param.page, 1)} - 1, size=${items.size},
                           nameFilter=${param.nameFilter}, minPrice=${param.minPrice}, maxPrice=${param.maxPrice}, sortField=${param.sortField})}"
                           tabindex="-1">Previous</a>
                    </li>

                    <li th:each="num: ${#numbers.sequence(1, items.totalPages)}"
                        th:classappend="${num == items.number + 1} ? 'active'"
                        class="page-item">
                        <a th:text="${num}"
                           th:href="@{/item(page=${num}, size=${items.size},
                           nameFilter=${param.nameFilter}, minPrice=${param.minPrice}, maxPrice=${param.maxPrice}, sortField=${param.sortField})}"
                           class="page-link">1 <span th:if="${num == items.number + 1}" class="sr-only">(current)</span></a>
                    </li>

                    <li class="page-item"
                        th:classappend="${#strings.equals(param.page, items.totalPages)} ? 'disabled'">
                        <a class="page-link"
                           th:href="@{/item(page=${#numbers.formatInteger(param.page, 1)} + 1, size=${items.size},
                           nameFilter=${param.nameFilter}, minPrice=${param.minPrice}, maxPrice=${param.maxPrice}, sortField=${param.sortField})}">
                            Next
                        </a>
                    </li>
                </ul>
            </nav>
        </div>

    </div>
</div>

<th:block th:replace="fragments/footer.html :: scripts"/>

</body>
</html>